<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
  <head>
    <link rel="stylesheet" type="text/css" href="main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script>
		$(function() {
			$('input[name="testType"]').on('click', function() {
				if ($(this).val() == 'Response') {
					$('#apiOperation').show();
					$('#apiMethod').show();
					$('#apiPayload').show();
					$('#apiStatusCode').show();
					$('#apiHeaders').hide();
				} else if ($(this).val() == 'Request') {
					$('#apiOperation').show();
					$('#apiMethod').show();
					$('#apiPayload').show();
					$('#apiStatusCode').hide();
					$('#apiHeaders').show();
				} else if ($(this).val() == 'Examples') {
					$('#apiOperation').hide();
					$('#apiMethod').hide();
					$('#apiPayload').hide();
					$('#apiStatusCode').hide();
					$('#apiHeaders').hide();
				}
			});
		});
	</script>
</head>
  <body>
    <div>
      <br>
      <h1>OpenAPI Specification - Validator</h1>
      <form accept-charset="UTF-8" action="#" th:action="@{/index}" th:object="${validation}" method="post">
      	<label class="text">What type of validation? </label>
      	<input th:field="*{testType}" type="radio" value="Request" th:checked="${validation.testType == 'Request'}"> Request
		<input th:field="*{testType}" type="radio" value="Response" th:checked="${validation.testType == 'Response'}"> Response
		<input th:field="*{testType}" type="radio" value="Examples" th:checked="${validation.testType == 'Examples'}"> All OAS examples
		<br/>
        <div id="apiOperation" class="form-group" style="display: block">
          <label class="text">API operation</label>
          <input th:field="*{operation}" placeholder="example: /status">
        </div>
        <div id="apiMethod" class="form-group" style="display: block">
          <label for="method">Method</label>
          <select th:field="*{method}">
            <option value="GET">GET</option>
            <option value="PATCH">PATCH</option>
            <option value="PUT">PUT</option>
            <option value="POST">POST</option>
          </select>
        </div>
        
        <div id="apiStatusCode" class="form-group" style="display: block">
         <br/>
          <label for="statusCode">Expected Status Code</label>
          <select th:field="*{statusCode}" style="display: inline">
            <option value="200">200</option>
            <option value="201">201</option>
            <option value="202">202</option>
            <option value="204">204</option>
            <option value="401">401</option>
            <option value="403">403</option>
            <option value="404">404</option>
            <option value="405">405</option>
            <option value="406">406</option>
            <option value="407">407</option>
            <option value="409">409</option>
            <option value="410">410</option>
            <option value="413">413</option>
            <option value="415">415</option>
            <option value="429">429</option>
            <option value="500">500</option>
            <option value="503">503</option>
            <option value="504">504</option>
          </select>
          <label class="text">(only needed for response validations)</label>
        </div>
		<div id="apiHeaders" class="form-group" style="display: none">
			<br /> 
			<label class="text">HTTP Headers</label> 
			<input th:field="*{headers}"
				placeholder="example: headerName1:value1,headerName2:value2"
				class="input-text"> 
			<label class="text">(may be needed for request validations)</label>
		</div>
		<br/>
        <div class="form-group">
          <label class="text">Paste here your OpenAPI Specification</label>
          <textarea th:field="*{contract}" class="textarea textarea.is-code" data-gramm_editor="false" spellcheck="false" autofocus="" placeholder="openapi: 3.0.0 ..." rows="5"></textarea>
        </div>
        <br/>
        <div id="apiPayload" class="form-group" style="display: block">Paste here your request or response payload here (in JSON format)
        	<textarea th:field="*{payload}" class="textarea textarea.is-code" data-gramm_editor="false" spellcheck="false" autofocus="" placeholder="{}"></textarea>
        </div>
        <br/>
        <button type="submit" class="form-btn">Submit</button>
      </form>
		<div th:if="${not #strings.isEmpty(validation.validationReport)}">
			<div th:if="${validation.valid}">
				<h3>Congratulations!</h3>
				<p class="textarea" th:utext="${validation.validationReport}" />
			</div>
			<div th:unless="${validation.valid}">
				<h3>Oops, an error occurred!</h3>
				<p class="red-text" th:utext="${validation.validationReport}" />
			</div>
		</div>
	</div>
  </body>
</html>
